@font-face {
    font-family: 'Odibee Sans';
    src: url('fonts/OdibeeSans.ttf');
}

@font-face {
    font-family: 'Roboto Condensed Thin';
    src: url('fonts/RobotoFont.ttf');
}

/* Common styles for labels */
.dateLabel, .dateClicked, .totalLabel {
    -fx-font-family: "Roboto Condensed Thin";
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 3 3 3 3 ;
    -fx-padding: 2px 25px 2px 25px;
    -fx-background-insets: 2px 0 2px 0;
}

/* Default style for labels */
.dateLabel {
    -fx-text-fill: white;
}

/* Style for clicked labels */
.dateClicked {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.dateHovered {
    -fx-border-radius: 15px;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-font-size: 14px
}

.totalLabel {
    -fx-padding: 0 18px 1px 15px;
    -fx-background-insets: 0 7px 0 1px;
    -fx-border-radius: 10px;
    -fx-border-insets: 0 7px 0 1px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}
/* Common styles for scroll bar */
.scroll-bar {
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

/* Style for scrollbar thumb */
.scroll-bar .thumb {
    -fx-background-color: #494949;
    -fx-background-insets: 1px;
    -fx-background-radius: 10px;
    -fx-min-width: 2px;
    -fx-max-width: 2px;
}

/* Style for scrollbar thumb when hovered */
.scroll-bar .thumb:hover {
    -fx-background-color: #535353;
}

/* Style for scrollbar track */
.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 2px;
}

/* Style for hiding scrollbar arrows */
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    visibility: hidden;
}

/* Style for vertical scrollbar */
.scroll-bar:vertical {
    -fx-pref-width: 10;
    -fx-padding: 3;
}

/* Style for logo label */
.logo {
    -fx-font-family: "Odibee Sans";
    -fx-font-size: 46px;
    -fx-text-fill: white;
    -fx-background-color: #252525;
    -fx-background-radius: 10px;
    -fx-padding: 0px 30px;
    -fx-background-insets: 0px 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.logoHovered {
    -fx-font-size: 47px;
}

/* Style for sidebar */
.sideBar, vBox {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: white;
}

.vBox {
    -fx-background-color: #2F2F2F;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 20, 0, 0, 0 );
    -fx-padding: 5px 0;
}

/* Style for dark background */
.darkBG {
    -fx-background-color: linear-gradient(to bottom right, #232526, #414345);
}

.chart {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Condensed Thin";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;

    -fx-tick-label-font-family: 'Arial';
    -fx-tick-label-font-size: 14px;
}

.chart-tick-label {
    -fx-text-fill: black;
}


.chart-vertical-grid-lines {
    -fix-stroke: 50%;
}
.chart .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-opacity: 0;
}

.chart-axis > .axis:horizontal {
    -fx-opacity: 0.5;
}

.customLabel {
    -fx-font-family: "Gill Sans", "Gill Sans MT", "Arial", "sans-serif";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 15px 0 0 0;
    -fx-background-insets: 0 0 0 0;
}


/* Apply the animation to the center area */
.center-background {
   -fx-background-color: linear-gradient(to bottom right, #232526, #414345);
}

