@font-face {
    font-family: 'Odibee Sans';
    src: url('fonts/OdibeeSans.ttf');
}

@font-face {
    font-family: 'Roboto Condensed Thin';
    src: url('fonts/RobotoFont.ttf');
}

/* Common styles for labels */
.dateLabel, .dateClicked, .totalLabel, .settingsLabel, .choiceLabel {
    -fx-font-family: "Roboto Condensed Thin";
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 3;
    -fx-padding: 2px 25px;
    -fx-background-insets: 2px 0;
}


/* Style for clicked labels */
.dateClicked, .settingsClicked {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.settingsClicked {
    -fx-font-size: 13px;
    -fx-padding: 0 -2px 0 0;
    -fx-background-insets: 2px -2px 2px 0;
}

.dateHovered {
    -fx-border-radius: 15px;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-font-size: 14px
}

.totalLabel, .settingsLabel{
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 13px;
    -fx-border-insets: 0 10px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.settingsLabel {
    -fx-border-insets: 0;
    -fx-padding: -3px 3px -4px 3px;
    -fx-font-size: 18px;
    -fx-background-insets: 0;
}

/* Common styles for scroll bar */
.scroll-bar {
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}


/* Style for scrollbar thumb */
.scroll-bar .thumb {
    -fx-background-color: #494949;
    -fx-background-insets: 1px;
    -fx-background-radius: 10px;
    -fx-min-width: 2px;
    -fx-max-width: 2px;
}

/* Style for scrollbar thumb when hovered */
.scroll-bar .thumb:hover {
    -fx-background-color: #535353;
}

/* Style for scrollbar track */
.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-background-insets: 2px;
}

/* Style for hiding scrollbar arrows */
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    visibility: hidden;
}

/* Style for vertical scrollbar */
.scroll-bar:vertical {
    -fx-pref-width: 10;
    -fx-padding: 3;
}

/* Style for logo label */
.logo {
    -fx-font-family: "Odibee Sans";
    -fx-font-size: 46px;
    -fx-text-fill: white;
    -fx-background-color: #252525;
    -fx-background-radius: 10px;
    -fx-padding: 0px 30px;
    -fx-background-insets: 0px 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.logoHovered {
    -fx-font-size: 47px;
}

/* Style for sidebar */
.sideBar, vBox {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: white;
}

.vBox {
    -fx-background-color: #2F2F2F;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 20, 0, 0, 0 );
    -fx-padding: 5px 0;
    -fx-alignment: top-center;
}

/* Style for dark background */
.darkBG {
    -fx-background-color: linear-gradient(to bottom right, #232526, #414345);
}

.chart {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Condensed Thin";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;

    -fx-tick-label-font-family: 'Arial';
    -fx-tick-label-font-size: 14px;
}

.chart-tick-label {
    -fx-text-fill: black;
}


.chart-vertical-grid-lines {
    -fix-stroke: 50%;
}
.chart .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-opacity: 0;
}

.chart-axis > .axis:horizontal {
    -fx-opacity: 0.5;
}

.customLabel, .settingsTitle {
    -fx-font-family: "Gill Sans", "Gill Sans MT", "Arial", "sans-serif";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 15px 0 0 0;
    -fx-background-insets: 0 0 0 0;
}


/* Apply the animation to the center area */
.center-background {
   -fx-background-color: linear-gradient(to bottom right, #232526, #414345);
}

.summaryLabel {
    -fx-alignment: center;
    -fx-padding: 0 40px;
    -fx-text-fill: white;
    -fx-font-family: "Gill Sans", "Gill Sans MT", "Arial", "sans-serif";
    -fx-font-size: 24px;

}

.choiceLabel {
    -fx-font-weight: normal;
    -fx-padding: 0 5px;
    -fx-font-size: 16px;
}

.choice-box {
    -fx-background-radius: 15px;
    -fx-pref-width: 150px;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-padding: -5px 0;
    -fx-text-fill: white;
    -fx-mark-color: white;
}

.choice-box .context-menu {
    -fx-background-radius: 10px;
    -fx-background-color: #252525;
    -fx-text-fill: white;
}

/* Focused item background color in the list */
.choice-box .menu-item:focused {
    -fx-background-color: white;
    -fx-background-radius: 15px;
}
/* Text color of non-focused items in the list */
.choice-box .label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
/* Text color of focused item in the list */
.choice-box .menu-item:focused > .label {-fx-text-fill: black;}


.nameInput {
    -fx-font-size: 15px;
    -fx-background-radius: 15px;
    -fx-pref-width: 150px;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-text-fill: white;
    -fx-mark-color: white;
    -fx-padding: -1px 10px 0 10px;
}

.settingsTitle {
    -fx-padding: 35px, 0 0 0;
}

.color-picker {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-border-color: white;
    -fx-color-label-visible: false;
    -fx-padding: 1.3px -20px 1px -2px;
}

.color-picker .arrow-button  {
    -fx-opacity: 0.0;
}

.color-picker .color-display {
    -fx-radius: 50%; /* Set background radius to 50% to make it a circle */
}

